mysql:
  replicas: 1
  environment:
    MYSQL_ROOT_PASSWORD: "root"
    MYSQL_DATABASE: "fitverse"
  image:
    repository: mysql
    pullPolicy: IfNotPresent
    tag: "8.0"
  service:
    type: ClusterIP
    port: 3306
    targetPort: 3306
    containerPort: 3306
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 512Mi
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 2
    targetCPUUtilizationPercentage: 40
    targetMemoryUtilizationPercentage: 80

backend:
  replicas: 1
  environment:
    SPRING_DATASOURCE_URL: "jdbc:mysql://mysql:3306/fitverse?createDatabaseIfNotExist=true"
    SPRING_DATASOURCE_USERNAME: "root"
    SPRING_DATASOURCE_PASSWORD: "root"
    SPRING_PROFILES_ACTIVE: "production"
    APPLICATION_CORS_ORIGINS: "http://192.168.1.70:4200"
  image:
    repository: rupesh1997/fitverse-backend
    pullPolicy: IfNotPresent
    tag: "1.0.1"
  service:
    type: LoadBalancer
    port: 8181
    targetPort: 8181
    containerPort: 8181
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 512Mi
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 2
    targetCPUUtilizationPercentage: 40
    targetMemoryUtilizationPercentage: 80

frontend:
  replicas: 1
  image:
    repository: rupesh1997/fitverse-frontend
    pullPolicy: IfNotPresent
    tag: "1.0.0"
  service:
    type: LoadBalancer
    port: 4200
    targetPort: 8080
    containerPort: 8080
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 512Mi

