apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Chart.Name }}-mysql
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}-mysql
    version: {{ .Chart.AppVersion }}
    component: database
spec:
  serviceName: {{ .Chart.Name }}-mysql
  replicas: {{ .Values.mysql.replicas }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}-mysql
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}-mysql
        version: {{ .Chart.AppVersion }}
        component: database
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "3306"
    spec:
      serviceAccountName: {{ .Chart.Name }}-mysql
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
        fsGroup: 999
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - {{ .Chart.Name }}-mysql
                topologyKey: kubernetes.io/hostname
      containers:
        - name: mysql
          image: "{{ .Values.mysql.image.repository }}:{{ .Values.mysql.image.tag }}"
          imagePullPolicy: {{ .Values.mysql.image.pullPolicy }}
          ports:
            - name: mysql
              containerPort: {{ .Values.mysql.service.containerPort }}
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: SPRING_DATASOURCE_PASSWORD
                  name: {{ .Chart.Name }}-secrets
            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  key: DATABASE_NAME
                  name: {{ .Chart.Name }}-config
{{/*          livenessProbe:*/}}
{{/*            exec:*/}}
{{/*              command:*/}}
{{/*                - /bin/sh*/}}
{{/*                - -c*/}}
{{/*                - mysqladmin ping -h localhost -u root -p${MYSQL_ROOT_PASSWORD}*/}}
{{/*            initialDelaySeconds: 30*/}}
{{/*            periodSeconds: 10*/}}
{{/*            timeoutSeconds: 5*/}}
{{/*            failureThreshold: 3*/}}
{{/*          readinessProbe:*/}}
{{/*            exec:*/}}
{{/*              command:*/}}
{{/*                - /bin/sh*/}}
{{/*                - -c*/}}
{{/*                - mysql -h localhost -u root -p${MYSQL_ROOT_PASSWORD} -e "SELECT 1"*/}}
{{/*            initialDelaySeconds: 20*/}}
{{/*            periodSeconds: 5*/}}
{{/*            timeoutSeconds: 3*/}}
{{/*            failureThreshold: 3*/}}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop:
                - ALL
              add:
                - CHOWN
                - DAC_OVERRIDE
                - SETGID
                - SETUID
          {{- with .Values.mysql.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
{{/*            - name: mysql-config*/}}
{{/*              mountPath: /etc/mysql/conf.d*/}}
      # CORRECTED: volumes is now a sibling of 'containers'
{{/*      volumes:*/}}
{{/*        - name: mysql-config*/}}
{{/*          configMap:*/}}
{{/*            name: mysql-my-cnf*/}}
  # volumeClaimTemplates is a sibling of 'template'
  volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.mysql.storage.size | default "10Gi" }}
{{/*        {{- if .Values.mysql.storage.storageClassName }}*/}}
{{/*        storageClassName: {{ .Values.mysql.storage.storageClassName }}*/}}
{{/*        {{- end }}*/}}