apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: fitverse
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/rupesh-hub/FitVerse-2026-01-01.git'
    targetRevision: main
    path: helm # Path inside the repo where Chart.yaml lives
    helm:
      # Overrides for Helm chart values
      values: |
        replicaCount: 1
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: fitverse
  syncPolicy:
    automated:
      prune: true      # Removes resources from cluster that are deleted in Git
      selfHeal: true   # Overwrites manual changes made with kubectl
    syncOptions:
      - CreateNamespace=true  # Automatically creates the 'fitverse' namespace
    retry:
      limit: 5 # Number of failed sync attempts before giving up
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m