apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: fitverse-backend-hpa
  namespace: fitverse
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: fitverse-backend
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 40
