apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fitverse-pvc
  namespace: fitverse
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard