apiVersion: v1
kind: PersistentVolume
metadata:
  name: fitverse-pv
  namespace: fitverse
spec:
  capacity:
    storage: 2Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain # Keeps the PV after the PVC is deleted
  storageClassName: standard
  hostPath:
    path: /mnt/data/mysql
    type: DirectoryOrCreate
