apiVersion: v1
kind: PersistentVolume
metadata:
  name: fitverse-pv
spec:
  capacity:
    storage: 2Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  hostPath:
    path: /mnt/data/mysql
    type: DirectoryOrCreate
