spring:
  config:
    activate:
      on-profile: "docker"

  flyway:
    enabled: true

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/fitverse?createDatabaseIfNotExist=true}
    #"ENC(dfG7+s6H/jK98Lk2Lp90Xm==)" - encrypted password
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      # Never use 'update' or 'create-drop' in production
      ddl-auto: validate
    show-sql: false # SQL logging impacts performance
    properties:
      hibernate:
        format_sql: false
        # Enable connection pooling optimization
        jdbc.batch_size: 25
        order_inserts: true
        order_updates: true

security:
  jwt:
    secret-key: ${JWT_SECRET_KEY}
    expiration: 3600000 # 1 hour
    refresh-token-expiration: 604800000 # 7 days

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: when_authorized