replicaCount: 1
serviceName: fitverse-frontend
namespace: fitverse

image:
  repository: rupesh1997/fitverse-frontend
  pullPolicy: IfNotPresent
  tag: "1.0.0"
  
service:
  type: ClusterIP
  port: 4200
  targetPort: 8080

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
