name: fit verse frontend pipeline

on:
  push:
    branches:
      - dev
    paths:
      - frontend/**
      - docker/frontend/Dockerfile
      - docker/docker-compose/production/docker-compose.yaml
      - docker/docker-compose/production/common-config.yaml
      - .github/workflows/frontend-pipeline.yaml

jobs:
  build-image:
    name: Build frontend docker image
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract project version
        id: extract_version
        run: |
          cd frontend
          echo "VERSION=$(jq -r '.version' package.json)" >> $GITHUB_OUTPUT

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_SECRET_KEY }}

      - name: Docker build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./docker/frontend/Dockerfile
          push: true
          platforms: linux/amd64
          build-args: |
            CONFIGURATION=production
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/fit-verse-frontend:${{ steps.extract_version.outputs.VERSION }}
            ${{ secrets.DOCKERHUB_USERNAME }}/fit-verse-frontend:latest

  deployment:
    name: Deploy frontend
    runs-on: self-hosted
    needs: [ build-image ]
    steps:
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Create deployment folder
        run: |
          ssh ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP }} "mkdir -p fit-verse-deployment"

      - name: Copy docker compose and common config files
        run: |
          scp docker/docker-compose/production/docker-compose.yaml ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP }}:fit-verse-deployment/docker-compose.yaml
          scp docker/docker-compose/production/common-config.yaml ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP }}:fit-verse-deployment/common-config.yaml

      - name: Setup environment variables
        run: |
          ssh ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP }} <<EOF
          cd fit-verse-deployment
          docker system prune -f
          docker-compose -f docker-compose.yaml down
          docker-compose -f docker-compose.yaml pull -q
          docker-compose -f docker-compose.yaml up -d
          EOF
